<div class="banner">
    <div class="banner-content">Find Your Dream Retreat<br></div>
    <div class="description"> Explore vacation homes, and more...</div>
</div> 

<!-- train-search-form.component.html -->
<div class="development-prompt">
  <p><b>Please select Houston as departure station , dallas as arrival station,date as May 15th 2024 for acurate results</b></p>
</div>
<div class="search-card">
    <div class="head">Search Trains</div>
    <form (ngSubmit)="searchTrains()">
      <div class="form">
        <div class="input-field">
          <input [(ngModel)]="departureStation" placeholder =" From where ? " name="departureStation" required>
        </div>
        <div class="input-field">
          <input [(ngModel)]="arrivalStation" placeholder =" TO ... ? " name="arrivalStation" required>
        </div>
        <div class="input-field">
          <input type="date" [(ngModel)]="departureDate" placeholder =" When are you going " name="departureDate" required>
        </div>
        <button type="submit">Search </button>
      </div>
    </form>
</div>

<div class="train-container">
  <div  *ngIf="Trains.length > 0; else notrains">
    <h1 class="heading" style="margin-inline: 4cm;"><b>Best Deals</b></h1>
    <div class="loop" *ngFor="let train of Trains">
      <div class="train card">
        <div class="operator card"><b>{{train.operator}}</b></div>
        <div class="details card">
          <div class="departure">
            <div>{{train.departureStation}}</div>
            <div>{{train.departureformattedDateTime}}</div>
          </div>
          <div class="space">----------></div>
          <div class="arrival">
            <div>{{train.arrivalStation}}</div>
            <div>{{train.arrivalformattedDateTime}}</div>
          </div>
        </div>
        <div class="price card">
          <div class="pricetag" style="font-size: 24px;"><b>{{train.price}}$</b></div>
          <span><i class="bi bi-person"></i>&nbsp;&nbsp;1&nbsp;&nbsp;One Way </span>
          <div class="check"><button type="submit" (click)="selectdeparture(train)">Select Departure</button></div>
        </div>
      </div>
    </div>
  </div>
<ng-template #notrains>
    <p></p>
  </ng-template>
</div>

  
