.banner {
    background-image: url("..\\..\\../assets/img/flight.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

.development-prompt{
  color: black;
  background-color:rgb(180, 255, 5);
  font-size: bold;
  margin-top: 2cm;
  font-size: 18px;
  margin-bottom: 0;
  margin-inline: 4cm;
}
.banner-content {
    font-size: 50px;
    color: white;
    padding-top: 3cm;
    padding-inline: 2cm; 
}

.description {
    font-size: 30px;
    color: white;
    padding-left: 2cm;
    padding-top: 30px;
}
.head{
  margin-bottom: 1cm;
}

/* trip-search.component.css */
.trip-type-container {
  display: flex;
}

.trip-type-card {
  width: 13cm;
  height: 1cm;
  text-align: center;
  cursor: pointer;
  font-size: 30px;
  border: 1px black;
}

.trip-type-card.selected {
  background-color: lightseagreen;
}

.options-container {
  display: flex;
  justify-content: center;
}
.trip-container{
  height: fit-content;
  width: fit-content;
  margin-inline: 4cm;
  margin-top: 1cm;
}
.option-card {
  padding: 10px;
  width: 26cm;
  border: 1px solid black;
  font-size: 30px;
}




.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.form-group-loc {
  display: flex;
  justify-content: space-between;
  margin-top: 1cm;
}
.form-group-data{
  display: flex;
  justify-content: space-between;
  margin-block: 1cm;
}


.input-group {
  flex: 1;
}

label {
  font-size: 18px;
  margin-inline: 1cm;
}

input[type="text"],
input[type="date"] {
  width: 50%;
  padding: 10px;
  font-size: 14px;
  height: 1cm;
}

input[type="number"] {
  width: 20%;
  padding: 10px;
  font-size: 14px;
  height: 1cm;
}

.submit-button {
  padding: 15px 20px 10px;
  background-color: lightseagreen;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 20.5cm;
  height: 1.3cm;
}

.submit-button:hover {
  background-color: lightseagreen;
}



/* flights.component.css */

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-inline: 4cm;
  width: 26cm;
  padding: 0.2cm;
}
.ticket {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%; /* Set the width to 100% */
  height: 5cm; /* Set the height to 2.5cm */
  display: flex;
  align-items: center; /* Align items  /* Space between elements */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
  align-items: center;
  justify-content: center;
  width: 4cm;
  height: 100%;
  background-color: white;
}
.Details-card{
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  width:17cm;
  padding: 1cm;
}

.main-data {
  flex: 1; /* Take remaining space */
}

.main-data-item {
  margin: 5px 0;
}

.card-footer {
  text-align: center;
  background-color: white;
  align-items: center;
  justify-content: center;
  height: 100%;
  width:4.8cm
}

.details-button {
  background-color: lightseagreen;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.details-button:hover {
  background-color: darkcyan;
}

.details {
  width: 100%; /* Set the width to 100% */
  padding: 10px; /* Add padding */
  border-top: 1px solid #ccc; /* Add a border to separate details */
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Space between elements */
}

.detail-row {
  flex: 1; /* Take remaining space */
  margin: 5px 0;
}

.detail-item {
  margin-right: 20px; /* Add some space between detail items */
}

select {
  font-size: 16px; 
  height: 1cm;
  align-items: center;
}

select option {
  font-size: 16px;
  margin-left: 4cm;
  height: 1cm; /* Set the font size for the options */
}

.input-group select option{
  margin-left: 4cm;
}


.heading{
  margin-inline:4cm ;
  margin-block: 1cm;
}

