.banner {
    background-image: url("https://mcdn.wallpapersafari.com/medium/61/10/zfxk0e.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

.banner-content {
    font-size: 50px;
    color: black;
    padding-top: 1.5cm;
    padding-inline: 1cm; 
}
.development-prompt{
  color: black;
  background-color:rgb(180, 255, 5);
  font-size: bold;
  margin-top: 2cm;
  font-size: 18px;
  margin-bottom: 0;
  margin-inline: 4cm;
}
.description {
    font-size: 30px;
    color: black;
    padding-left: 1cm;
    padding-top: 30px;
}


.search-card {
    margin-inline: 2cm;
    margin-bottom: 2cm;
    padding: 1cm;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: fit-content;
  }
  
  .head {
    margin-left: 0.5cm;
    margin-bottom: 0.5cm;
    font-size: 30px;
    font-weight: bolder;
  }
  
  .form {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
  }
  

  
  .input-field label {
    margin-bottom: 0.5cm;
    margin-inline: 1cm;
  }
  
  .input-field input {
    padding: 0.5cm;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    height: 1.5cm;
    width: 8cm;
  }
  
  button {
    padding: 0.5cm;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    width: 3cm;
    height: 1.5cm;
    background-color: lightseagreen;
    align-items: center;
    padding: 0.5;
  }

  .car{
    width: 8cm;
    height: 11cm;
    margin-inline: 0.9cm;
    
    padding: 0;
    border-radius: 5px; /* Optional: adds rounded corners to the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .model{
    height: 2cm;
    justify-content: center;
    padding-inline:0.3cm; 
  }
  .picture {
    height: 5cm; /* Set the height of the container */
    display: flex; /* Ensure the image is centered vertically and horizontally */
    align-items: center;
    justify-content: center;
  }
  
  .picture img {
    max-width: 100%; /* Ensure the image does not exceed the container's width */
    max-height: 100%; /* Ensure the image does not exceed the container's height */
  }
  .amount{
    display: flex;
    flex-direction: column;
  }
  .pricetag{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.1cm;
    margin-top:0.5cm;
  }
  .check button{
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    background-color: lightseagreen; /* Adjust button color */
    height: 1.3cm;
    padding: 0.3cm;
    white-space: nowrap;
  }
