<div class="head">
    <h3><b>Check Your Car Details</b></h3>
    <div class="container">
        <div class="carimage">
            <div class="carimg">
                <img src="{{car.carImageUrl}}">
            </div>
        </div>
        <div class="details">
            <div class="model">
                <h3>{{car.carModel}}</h3>
            </div>
            <div class="main">
                <h5 style="margin-right: 0.5cm;"><i class="bi bi-person"></i>&nbsp;&nbsp;4</h5>
                <h5><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-luggage" viewBox="0 0 16 16">
                    <path d="M2.5 1a.5.5 0 0 0-.5.5V5h-.5A1.5 1.5 0 0 0 0 6.5v7a1.5 1.5 0 0 0 1 1.415v.335a.75.75 0 0 0 1.5 0V15H4v-1H1.5a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5V7h1v-.5A1.5 1.5 0 0 0 6.5 5H6V1.5a.5.5 0 0 0-.5-.5zM5 5H3V2h2z"/>
                    <path d="M3 7.5a.5.5 0 0 0-1 0v5a.5.5 0 0 0 1 0zM11 6a1.5 1.5 0 0 1 1.5 1.5V8h2A1.5 1.5 0 0 1 16 9.5v5a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 14.5v-5A1.5 1.5 0 0 1 6.5 8h2v-.5A1.5 1.5 0 0 1 10 6zM9.5 7.5V8h2v-.5A.5.5 0 0 0 11 7h-1a.5.5 0 0 0-.5.5M6 9.5v5a.5.5 0 0 0 .5.5H7V9h-.5a.5.5 0 0 0-.5.5m7 5.5V9H8v6zm1.5 0a.5.5 0 0 0 .5-.5v-5a.5.5 0 0 0-.5-.5H14v6z"/>
                  </svg>&nbsp;&nbsp;2</h5>
            </div>
            <div class="features">
                <span>Unlimited Mileage</span>
                <span>Online Check-in</span>
                <span>free cancellation</span>
            </div>
            <div class="provider">
                <h4>provided By</h4>
                <span>{{car.providerName}}</span>
                <span>{{car.providerAddress}}</span>
                <span>{{car.providerEmail}}</span>
                <span>{{car.providerPhoneNumber}}</span>
            </div>
        </div>
        <div class="maindetails">
            <div class="departure-container">
                <div class="departure">
                    <div style="display: flex;flex-direction: row;">
                        <h4>Start Date :&nbsp;&nbsp;</h4>
                        <span style="white-space: nowrap; font-size: 16px;">{{this.rentalstartDate}}</span>
                    </div>
                    
                </div>
                <div class="arrival">
                    <div style="display: flex;flex-direction: row;">
                        <h4>End Date :&nbsp;&nbsp;</h4>
                        <span style="white-space: nowrap;font-size: 16px;">{{this.rentalendDate}}</span>
                    </div>              
                </div>
            </div> 
            <div class="pickup">
                <h5>Pick Up location:</h5><span>{{car.pickupLocation}}</span>
            </div> 
            <div class="pickup">
                <h5>Bill: ${{car.totalPrice}}</h5>
            </div> 
            <div class="button">
                <button type="submit" (click)="confirm(car)">Continue</button>
            </div>   
        </div>
    </div>

</div>
