.form-group {
    margin-bottom: 20px;
    margin-right: 1cm;
}
.input-data{
    display: flex;
    flex-direction: row;
}
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"] 
input[id="gender"] {
    width: 7cm;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.gender{
    width: 7cm;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.container{
    margin: 2cm;
}
.card-header{
    height: 2cm;
    padding: 0.5cm;
    margin-bottom: 0.5cm;
}