body {
    color:black;
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}
.signup-form {
    width: 390px;
    margin: 0 auto;
    padding: 30px 0;
}
.signup-form h1 {
    color: #636363;
    margin: 0 0 15px;
    text-align: center;
    font-size: 30px;
}
.signup-form .lead {
    font-size: 14px;
    text-align: center;
}
.signup-form form {
    border-radius: 10px;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid black;
    box-shadow:2px 2px 2px 2px rgb(0, 0, 0, 0.3);
    padding: 30px;
}
.signup-form .form-group {
    margin-bottom: 20px;
}
.signup-form .input-group-addon {
    max-width: 42px;
    text-align: center;
    background: none;
    padding-left: 5px;
    min-height: 38px;
}
.signup-form .btn, .signup-form .btn:active {
    font-size: 16px;
    font-weight: bold;
    background-color: lightseagreen;
    border-radius: 10px;
    border: none;
    min-width: 140px;
    margin-left: 2cm;
}
.signup-form .btn:hover, .signup-form .btn:focus {
    background-color: lightseagreen;
}
.signup-form a {
    color: lightseagreen;
    text-decoration: none;
}
.signup-form a:hover {
    text-decoration: underline;
}
.signup-form .fa {
    font-size: 21px;
    position: relative;
    top: 8px;
}
.signup-form .fa-paper-plane {
    font-size: 17px;
}
.signup-form .fa-check {
    color: #fff;
    left: 9px;
    top: 18px;
    font-size: 7px;
    position: absolute;
}
.signup-form .text-danger{
    font-size: 12px;
    text-align: center;
    padding-left: 1rem;

}